{{- if eq .chezmoi.osRelease.id "debian" -}}
#!/bin/bash
echo "{{ .chezmoi.osRelease.id }}"
echo " !!! I found {{ .chezmoi.osRelease.id }} I will proceed to install }} !!!"
sudo apt update
sudo apt install -y git curl wget unzip tar gcc ripgrep


curl -LO https://github.com/neovim/neovim/releases/latest/download/nvim-linux-x86_64.tar.gz
sudo rm -rf /opt/nvim
sudo tar -C /opt -xzf nvim-linux-x86_64.tar.gz
{{- end -}}
